<header class="page-header">
  <div class="header-block-container">
    <h1><%= @author.first_name %> <%= @author.last_name %></h1>
    <% if current_user.present? %>
      <%= link_to 'Edit', edit_author_path(@author), class: 'button-white-outline' %>
    <% end %>
  </div>
</header>

<section class="book-block-container">
  <div>
    <h5>Biography</h5>
    <p><%= @author.bio %></p>
  </div>
</section>
